@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root {
  --white: #FFF;
  --gray: #383838;
  --bgcolor: #C0C0C0;
  --corum: #5f27cd;
  --cordois: #ee5253;
}

.collum {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

select:disabled, button:disabled{
  opacity: 0.7;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 60%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6em;
  background-color: var(--corum);
}

a, a:hover, a:visited, a:focus {
  text-decoration: none;
}

.container {
  display: flex;
  max-width: 95%;
  width: 100%;
  margin: 0 auto;
}

nav {
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
  background-color: var(--white);
}

nav .container {
  flex-direction: row;
  justify-content: space-between;
}

nav .nav-logo {
  width: fit-content
}

nav img {
  width: auto;
}

nav .nav-links {
  width: fit-content;
  padding: 20px 0px 0px 0px;
}

nav ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  font-size: 1.2em;
  color: var(--corum);
  font-weight: 500;
}

nav ul li {
  width: fit-content;
  padding: 0 20px 0 20px;
}

.content-field, .content-field .container {
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.content-field .content {
  background-color: var(--white);
  width: 100%;
  padding: 25px;
  height: 100%;
  display: flex;
  min-height: 500px;
  border-radius: 1%;
  align-items: center;
  text-align: center;
}

.content-field .half-block {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-field .half-block img {
  width: 80%;
}

.content-field .half-block a {
  margin: 30px 0 15px 0;
  font-size: 1.3em;
}

.content-field h1 {
  padding-top: 30px;
  color: var(--cordois);
}

.content-field h2 {
  color: var(--corum);
  margin: 10px;
  padding: 0 20px 0 20px;
}

.icon-box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
  border: 2px solid transparent;
  padding: 10px 100px 10px 100px;
}

.icon-box a {
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.icon-box label {
  text-transform: uppercase;
  color: var(--corum);
  font-size: 1.4em;
  font-weight: 500;
}

.icon-box .icon {
  font-size: 8.0em;
  color: var(--cordois);
}

.icon-box a:hover {
  margin: -5px;
  box-shadow: 0 1px 3px 0 var(--corum), 0 1px 2px 0 var(--corum);
  border-radius: 10px;
}


.box-grid, .box-horizontal{
  margin: 20px;
  padding: 20px;
  display: grid;
  grid-gap: 30px;
  agrid-template-columns: repeat(4, 1fr);  
  grid-template-columns: 1fr 1.5fr 1fr 1fr;  
}

.box-form, .box-horizontal{
  padding: 20px;
  border-radius: 20px;
  background-color: var(--white);
}

.box-horizontal{
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: var(--corum);
}

.box-form{
  background-color: var(--cordois);
}

.box-card{
  margin: 20px;
  padding: 20px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);  
}

.card{
  border-radius: 20px;
  justify-content: center;
  background-color: var(--white);
  height: 200px;
}

.input{
  width: 100%;
  height: 50px;
  border: none;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
  border-radius: 10px;
  background-color: var(--white);
  padding-left: 15px;
  color: var(--gray);
  font-size: 1.0em;
  font-weight: 600;
}

.input option{  
  background-color: var(--white);
}

.button{
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
  background-color: var(--white);
  color: var(--gray);
  font-size: 1.1em;
  border: 0;
  border-radius: 10px;
  transition: 0.1s;
  font-weight: 600;
}

.button:active{
  margin-top: -1px;
  margin-bottom: +1px;
}

/* RESPONSIVIDADE */

@media (max-width: 992px) {
  .content-field .half-block:first-child {
    display: none;
  }
  .content-field .half-block {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}